@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,800,700,600);
@font-face {
    font-family: "Zuehlke";
    src: url("../../lib/font/zuehlke/zuehlke-webfont.eot?") format("eot"), url("../../lib/font/zuehlke/zuehlke-webfont.woff2") format("woff2"), url("../../lib/font/zuehlke/zuehlke-webfont.woff") format("woff"), url("../../lib/font/zuehlke/zuehlke-webfont.ttf") format("truetype"), url("../../lib/font/zuehlke/zuehlke-webfont.svg") format("svg"); }

* {
    box-sizing: border-box; }

body {
    font-family: 'Open Sans', 'sans-serif';
    display: flex;
    background-size: cover;
    background: url("../../img/bg.jpg") center, center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 115px 15px 0; }
body::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 8vw;
    width: 8vw;
    height: 8vw;
    min-width: 100px;
    min-height: 100px;
    max-width: 200px;
    max-height: 200px;
    background: url("../../img/zuehlke_logo.jpg");
    background-size: contain; }
body h1 {
    font-size: 50px; }
body h1, body h2, body h3 {
    font-family: 'Zuehlke', 'sans-serif';
    color: #ff820a; }
body .nowrap {
    white-space: nowrap; }
body header {
    flex-basis: 100%;
    margin: 15px;
    background-color: rgba(50, 50, 50, 0.8);
    border-radius: 5px;
    text-align: center; }
body section {
    flex-basis: calc(25% - 2 * 15px);
    min-width: 200px;
    color: white;
    margin: 15px;
    border-radius: 5px;
    flex-grow: 1;
    background: rgba(50, 50, 50, 0.8);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; }
body section:hover {
    transform: scale(1.05);
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4); }
body section a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-decoration: none;
    color: inherit;
    padding: 15px; }
body section a:visited {
    text-decoration: none;
    color: inherit; }
body section h2 {
    margin: 0 0 10px; }
body section ul {
    padding-left: 20px;
    margin: 0; }