/**
 * Zühlke theme for reveal.js.
 *
 */
// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------
@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,800,700,600);

@font-face {
  font-family: "Zuehlke";
  src: url("../../../lib/font/zuehlke/zuehlke-webfont.eot?") format("eot"),
  url("../../../lib/font/zuehlke/zuehlke-webfont.woff2") format("woff2"),
  url("../../../lib/font/zuehlke/zuehlke-webfont.woff") format("woff"),
  url("../../../lib/font/zuehlke/zuehlke-webfont.ttf") format("truetype"),
  url("../../../lib/font/zuehlke/zuehlke-webfont.svg") format("svg");
}

$zuehlkeOrange: #ff820a;
$zuehlkeOrangeDark: #e47000;
$logoSize: 8vw;
$minLogoSize: 100px;
$maxLogoSize: 200px;
$blue: #5AB7DB;
$green: #58C765;
$orange: #FA9B1E;
$red: #DE3E41;
$mainFont: 'Open Sans', sans-serif;
$mainFontSize: 36px;
$mainColor: #444444;
$headingFont: 'Zuehlke', sans-serif;
$headingColor: $zuehlkeOrange;
$heading1Size: 3.5em;
$heading2Size: 1.7em;
$heading3Size: 1.25em;
$heading4Size: 1em;
$headingTextShadow: none;
$headingTextTransform: none;
$backgroundColor: #eeeeee;
$linkColor: $zuehlkeOrange;
$linkColorHover: $zuehlkeOrangeDark;
$selectionBackgroundColor: rgba(0, 0, 0, 0.99);

.window-background .present {
  background-position-y: 0.5em;
}

.reveal {
  .deck-slide {
    &.slide-background {
      background: url("../../../img/bg.jpg"), center, center;
      background-size: cover;
    }

    text-align: left;

    h1, h3 {
      letter-spacing: 0;
    }

    h1 {
      font-size: 2.1em;
      position: relative;
      padding: 20px;
      background: rgba(255, 255, 255, .8);
      margin-top: 4em;
      border-radius: 5px;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, .4);
    }

    h3 {
      margin-top: 0.5em;
      font-size: 1.1em;
      text-indent: 0.1em;
      // text-transform: uppercase;
      line-height: 1.3em;
    }
  }

  .img-slide {
    h2 {
      display: inline-block;
      margin-top: 5em;
      margin-left: -4em;
      background: rgba(255, 255, 255, 0.5);
      padding: 0.5em;
    }
  }

  .slide-background {
    &::after {
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      left: $logoSize;
      width: $logoSize;
      height: $logoSize;
      min-width: $minLogoSize;
      min-height: $minLogoSize;
      max-width: $maxLogoSize;
      max-height: $maxLogoSize;
      background: url('../../img/zuehlke_logo.jpg');
      background-size: contain;
    }
  }

  .slides {
    section {
      padding: 0;

      h1, h2, h3 {
        font-weight: 800 !important;

        &.margin-top {
          margin-top: 20px;
        }
      }

      h2 {
        margin-bottom: 0.8em !important;
        line-height: 1em !important;

        code {
          font-weight: normal;
          background: transparent;
        }
      }

      img {
        background: none;
        border: none;
        box-shadow: none;

        &.portrait {
          width: 50%;
          border-radius: 50%;
          border: 3px solid white;
          box-shadow: 5px 5px 5px rgba(0, 0, 0, .4);
        }
      }

      p, q {
        line-height: 1.4em;
        margin-bottom: 1em;
      }

      q {
        &::before, &::after {
          content: none;
        }

        .text {
          font-style: italic;

          &::before, &::after {
            color: $orange;
            font-size: 1.5em;
          }

          &::before {
            content: '«';
            margin-right: .3em;
          }

          &::after {
            content: '»';
            margin-left: .3em;
          }
        }

        .author {
          font-size: .8em;
          display: block;
          margin-top: 1em;
          text-align: right;
          font-style: normal;
        }
      }

      ul, ol {
        margin-top: 0.5em !important;
        margin-bottom: 1em;
      }

      li {
        margin-top: 0.8em;

        &:first-child {
          margin-top: 0;
        }
      }

      pre {
        box-shadow: none !important;
        font-size: 0.7em !important;
        word-wrap: normal !important;
        code {
          padding: 0.4em !important;
          max-height: none !important;
        }

        .keyword {
          color: #B38335;
        }

        .tag, .literal,
        .apache .tag {
          color: #3B7586;
        }

        .variable {
          color: #666;
        }

        .string {
          color: #B66666;
        }
        .title {
          color: #3B7586;
        }
      }

      .bv-slide {
        img {
          opacity: 0.4;

          &:first-child {
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }

      .progress {
        height: 0.25em;
      }

      .warn {
        color: $zuehlkeOrange;
      }

      .strikethrough {
        text-decoration: line-through;
      }

      .code {
        background: rgba(236, 239, 241, 0.56);
        border-radius: 2px;
        color: #00796B;
        padding: 0 4px;
        font-size: 90%;
        font-family: monospace;

        &.nobg {
          color: inherit;
          background: inherit;
          padding: 0;
          margin: 0 10px;
          border-radius: 0;
        }
      }

      .tip {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        background-color: #5AB7DB;
        color: white;
        padding: 20px;
        border-radius: 10px;
        transform: translateX(-50%) translateY(-50%) rotate(20deg);
        min-width: 80%;
        text-align: left;

        &.visible {
          opacity: .9;
        }

        &::before {
          content: ' ';
          background: url(../../img/light-bulb.svg) no-repeat;
          background-size: contain;
          display: block;
          min-width: 50px;
          min-height: 50px;
          margin-right: 20px;
        }
      }

      .comparison {
        display: flex;

        > div:first-child, > div:last-child {
          width: 50%;

          &.code {
            position: relative;
            font-size: 1.8rem;
            padding: 0;
          }

          &:not(.code) {
            height: 300px;
            background-color: rgba(192,192,192, 0.3);
            margin: 4px;
            padding: 15px;
            font-size: 1.5rem;
          }
        }

        > div:first-child {
          text-align: left;
        }

        > div:last-child {
          text-align: right;
        }

      }

      .badge-container {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;

        .badge {
          position: relative;
          padding: 7px;
          color: white;
          border-radius: 5px;
          font-size: 1rem;
          opacity: .8;

          &:not(:first-child) {
            margin-top: 5px;
          }

          &.es6 {
            background-color: $orange;
            &::before {
              content: 'ES6';
            }
          }

          &.es5 {
            background-color: $blue;
            &::before {
              content: 'ES5';
            }
          }

          &.do {
            background-color: $green;
            &::before {
              content: 'Do';
            }
          }

          &.dont {
            background-color: $red;
            &::before {
              content: "Don't";
            }
          }
        }
      }

      .column-container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;

        .column {
          display: flex;
          flex-direction: column;

          img {
            max-width: 70%;
            margin: auto;
          }
        }

        .column-3 {
          @extend .column;
          width: 33.333333%;
          max-width: 33.333333%;
        }

        .column-2 {
          @extend .column;
          width: 50%;
          max-width: 50%;
        }

        .bubble {
          @extend .column;
          background-color: $zuehlkeOrange;
          color: white;
          border-radius: 10px;
          width: 45%;
          max-width: 45%;
          flex-grow: 0;
          margin: 10px auto;
          padding: 20px 10px;
          justify-content: center;
          align-items: center;
          position: relative;

          .strike-through {
            display: block;
            position: absolute;
            background: red;
            width: 106%;
            height: 10px;
            border-radius: 5px;
            transform: rotate(10deg);
            opacity: .6;
            top: calc(50% - 5px);
            left: calc(0px - 3%);
          }
        }
      }
    }
  }
}

.print-pdf {

  .sub-section-slide {
    h2 {
      opacity: 1;
    }
  }

  .reveal.none .slides section {
    // padding-top: 300px!important;

    &.sub-section-slide {
      padding-top: 350px !important;
    }

    &.deck-slide {
      padding-top: 0 !important;
    }
  }
}

table tbody {
  th {
    background: rgba(236, 239, 241, 0.24);
    border-right: 1px solid #ECEFF1;
    font-weight: 400;
    border-bottom: 1px solid #ECEFF1;
    padding: 16px 32px;
    text-align: left;
  }
  td {
    border-bottom: 1px solid #ECEFF1;
    padding: 16px 32px;
    text-align: left;
  }
}

.tab {
  display: none;
  margin-top: -0.35em !important;

  &.active {
    display: block;
  }
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
